*{
    font-family: Garamond, serif;
}

body{
    margin: 1%;
    padding: 0%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/a/ab/Campos_de_Maguey.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    display: grid;
    justify-content: center;
}

section{
    position: relative;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ee635e0a-8ad2-4b97-b015-081828bf48db/ddo9g6-9e221d5e-819a-44f4-a602-fa716e9c58a9.jpg/v1/fill/w_753,h_1061,q_70,strp/grungy_paper_texture_v_5_by_bashcorpo_ddo9g6-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjgxOCIsInBhdGgiOiJcL2ZcL2VlNjM1ZTBhLThhZDItNGI5Ny1iMDE1LTA4MTgyOGJmNDhkYlwvZGRvOWc2LTllMjIxZDVlLTgxOWEtNDRmNC1hNjAyLWZhNzE2ZTljNThhOS5qcGciLCJ3aWR0aCI6Ijw9MjAwMCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.eAbeWVGMMyUAGlpA5yKjcDnSj1NfRyZqgFhdTdW_5kg);
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3px;
    border-radius: 10px;
    animation: sec-g 1200ms ease-in;
}

a{
    font-size: x-small;
    text-align: center;
    color: antiquewhite;
    text-decoration: none;
}

button{
    position: relative;
    border: none;
    width: 170px;
    border-radius: 10px;
}

ul{
    list-style: none;
}

/*////////////////////////////////////////// Img //////////////////////////////////////////*/

.logo{
    position: relative;
    background-image: url(assets/El_paso.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 300px;
    height: 300px;
    top: 180px;
}

/*//////////////////////////// Dimensions, position and colorr ////////////////////////////*/

.dpc-map{
    position: relative;
    left: 5%;
    width: 90%;
    height: 320px;
    background-color: rgba(109, 232, 236,0.3);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius: 17px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.37);
    animation: map 1700ms ease-in;
}

.dpc-head-i{
    position: fixed;
    top: 0.7%;
    width: 91.5%;
    left: 2%;
    background-color: rgba(18, 53, 30, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 7px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    animation: nav-p 500ms ease-in;
}

.dpc-logo{
    width: 50px;
    height: 50px;
    top: 10px;
}

.dpc-void{
    height: 80px;
}

.dpc-sec{
    width: 400px;
}

.dpc-img{
    width: 100%;
    display: grid;
    align-content: center;
}

.dpc-desc{
    padding: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url(https://ch-equine.com/wp-content/uploads/2012/09/Wood.jpg);
    background-size: contain;
    width: 94%;
    height: 150px;
    color: antiquewhite;
    border-radius: 50px;
    position: relative;
    top: 20px;
    left: 3%;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.37);
    animation: table-t 500ms ease-in;
}

.dpc-dbox{
    width: 155px;
    height: 150px;
    display: grid;
    align-items: center;
}

.dpc-ini{
    position: relative;
    width: 300px;
    height: 70px;
    top: 30px;
    display: grid;
    align-content: center;
}

.dpc-ico{
    position: relative;
    top: 10px;
}

/*//////////////////////////////////// Font settings ////////////////////////////////////*/

.f-desc{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    font-weight: bold;
    color: rgb(255, 255, 255);
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}

.f-hor{
    color: black;
    
}

/*//////////////////////////////////////// Menu ////////////////////////////////////////*/

.tree{
    
    padding: 0;
    margin: 0;
}

.box{ background: #eeede6; }

.men-sec{
    display: flex;
    justify-content: space-between;
}

.prod-desc{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.comp-desc{
    height: 10px;
}

/*///////////////////////////////////// Animations /////////////////////////////////////*/

.loader {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: black;
    display: grid;
    align-content: center;
}

.hide {
    opacity: 0;
    z-index: 0;
    transition: opacity 400ms ease-out;
}

@keyframes nav-p {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translate(0);
    }
}

@keyframes sec-g {
    0% {
        transform: translateX(-110%);
        opacity: 0;
    }
    50%{
        transform: translateX(-100%);
        opacity: 0.2;
    }
    80% {
        transform: translate(0);
        opacity: 0.7;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}

@keyframes map {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    70%{
        transform: scale(0.1);
        opacity: 0;
    }
    80% {
        transform: translate(0.3);
        opacity: 0.7;
    }
    100% {
        transform: translate(1);
        opacity: 1;
    }
}

@keyframes table-t {
    0% {
        transform: translateX(-110%);
    }
    100% {
        transform: translate(0);
    }
}